#topbar {
	width: 1000px;
	margin: 0 auto;
	height: 40px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

#logo {
	margin-top: 8px;
	width: 85px;
	height: 25px;
	float: left;
	margin-right: 10px;
}

.topbar-section {
	float: left;
	border-left: 1px #cccccc solid;
	height: 100%;
}

#signin-image {
	width: 20px;
	margin: 11px 15px;
	float: left;
	filter: invert(100%);
}

#signin-text {
	font-weight: bold;
	font-size: 90%;
	position: relative;
	top: 12px;
	margin-right: 90px;
}

#wigglyline {
	height: 40px;
}